<div class="menu">

    <input type="checkbox" class="menu__checkbox" id="menu"> 
    <label for="menu" class="menu__btn--open">
      <svg class="menu__icon" id="menu-icon--open">
          <use xlink:href="../../../../assets/img/sprite.svg#icon-menu"></use>
      </svg>
    </label>
    <label for="menu" class="menu__btn--close">
        <svg class="menu__icon" id="menu-icon--close">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-cross"></use>
        </svg>
    </label>

    <div class="menu__bgr" id="menu__bgr">&nbsp;</div>   

    <nav class="menu__nav" id="menu__nav">

      <app-menu-actions></app-menu-actions>

    </nav>

  </div>
