.menu {
    background-color: var(--color-red-dark); 
}
.menu__checkbox {
    display: none; }
.menu__btn--open {
    display: block; 
}
.menu__btn--close {
    display: none; 
}
.menu__icon {
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
    height: 3rem;
    width: 3rem;
    fill: var(--color-gray-darken);
    z-index: 2000;
    cursor: pointer; 
}
.menu__bgr {
    position: absolute;
    top: 3rem;
    right: 3rem;
    height: 4rem;
    width: 4rem;
    z-index: 1000;
    border-radius: .5rem;
    background-color: var(--color-gray-light);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    transition: all .4s; 
}
.menu__nav {
    position: absolute;
    top: 1rem;
    right: 4rem;
    height: 35rem;
    width: 5rem;
    z-index: 1500;
    display: none;
    padding: 0 5rem 0 2rem;
    font-family: inherit;
    font-weight: inherit;
    color: var(--color-gray-darken); 
}
.menu__checkbox:checked ~ .menu__bgr {
    width: 28rem;
    border-radius: .5rem;
    height: 42rem; 
}
.menu__checkbox:checked ~ .menu__nav {
    display: flex;
    flex-direction: column;
    width: 28rem;
    animation-name: moveDownStop;
    animation-duration: .6s; 
}
.menu__checkbox:checked ~ .menu__btn--open {
    display: none; 
}
.menu__checkbox:checked ~ .menu__btn--close {
    display: block; 
}