.user-info-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 2rem; 
}
.user-info-box__role-icon {
    width: 2rem;
    height: 2rem;
    fill: inherit;
    margin-bottom: -.6rem; 
}