<div class="user-info-box">
    <app-user-box-info></app-user-box-info>
    
    <!-- <div class="user-info-box__role">
        <svg class="user-info-box__role-icon">
          <use xlink:href="../../../../assets/img/sprite.svg#icon-user-tie"></use>
        </svg>
    </div> -->
</div>
