.container {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 6rem;

    background-color: rgba(#f5f7fa, .6);
    width: 100%;
    border-radius: 4rem;
    overflow: hidden;

    box-shadow: var(--shadow-all-sides);

    &__header-box {
        display: grid;
        grid-template-columns: max-content 70%;
        gap: 5rem;
        padding: 2rem 2rem 1rem 2rem;

        align-items: center;
        justify-content: space-between;

        height: 100%;
        width: 100%;
    }

    &__body-box {
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 2rem;

        height: auto;
        width: 100%;
    }
    
}