.hero-side {
    display: grid;
    grid-template-rows: max-content 40rem max-content 35rem;
    gap: 3rem;
    
    padding: 2rem 2rem 2rem 3rem;
    margin-bottom: 5rem;

    &-heading {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__posts-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__friends-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        overflow-y: scroll;
        overflow-x: hidden;
    }
}
