.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100rem;

    border-radius: 5rem 5rem 0 5rem;

    box-shadow: var(--shadow-all-sides);
    margin-right: 2rem;
    padding: 5rem;

    background-color: rgba(#f5f7fa, .8);

    overflow-x: hidden;
    overflow-y: scroll;

    &__posts {
        //
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        gap: 7rem;

        overflow-x: hidden;
        overflow-y: scroll;
    }

    &__friends {
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 7rem;
        justify-content: start;
        align-items: flex-start;

        &-heading {
            
        }
        &-body {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;

            overflow-x: hidden;
            overflow-y: scroll;
        }
    }

    &__activity {
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);

        overflow-x: hidden;
        overflow-y: scroll;

        &-heading {
            display: grid;
            gap: 5rem;
        }
        &-body {

        }
    }

    &__about {
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);

        overflow-x: hidden;
        overflow-y: scroll;

        &-heading {
            display: grid;
            gap: 5rem;
        }
        &-body {

        }
    }

    &__preferences {
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
        gap: 6rem;

        overflow-x: hidden;
        overflow-y: scroll;

        &-heading {
            
        }
        &-body {
            display: grid;
            grid-template-rows: repeat(4, max-content);
            gap: 3rem;
            justify-content: start;
            align-items: flex-start;
        }
    }

    &__admin {
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
        gap: 6rem;

        overflow-x: hidden;
        overflow-y: scroll;

        &-heading {
            display: grid;
            gap: 5rem;
        }
        &-body {

        }
    }
}