.menu {
    
    background-color: var(--color-red-dark);   

    &__checkbox {
        display: none;
    }
    &__btn--open {
        display: block;
    }
    &__btn--close {
        display: none;
    }
    &__icon {
        position: absolute;
        top: 3.5rem;
        right: 3.5rem;
        height: 3rem;
        width: 3rem;
        fill: var(--color-gray-darken);
        z-index: 2000;
        cursor: pointer;
    }
    &__bgr {
        position: absolute;
        top: 3rem;
        right: 3rem;
        height: 4rem;
        width: 4rem;
        z-index: 1000;
        border-radius: .5rem;
        background-color: var(--color-gray-light);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
        transition: all .4s;
    }
    &__nav {
        position: absolute;
        top: 1rem;
        right: 4rem;
        height: 35rem;
        width: 5rem;
        z-index: 1500;
        display: none;
        padding: 0 5rem 0 2rem;
        //
        font-family: inherit;
        font-weight: inherit;
        color: var(--color-gray-darken);
    }
    &__checkbox:checked ~ &__bgr {
        width: 25rem;
        border-radius: .5rem;
        height: 40rem;
    }
    &__checkbox:checked ~ &__nav {
        display: flex;
        flex-direction: column;
        width: 25rem;
        
        animation-name: moveDownStop;
        animation-duration: .6s;
    }
    &__checkbox:checked ~ &__btn--open {
        display: none;
    }
    &__checkbox:checked ~ &__btn--close {
        display: block;
    }
}
