<div class="add-comment-box" *ngIf="isCreateCommentBoxOpen">
    <div class="comment-box__header">
      <app-user-box-small [username]='user.username'></app-user-box-small>
    </div>

    <div class="comment-box__body">
        <input class="content-input" type="text" placeholder="Your comment" [(ngModel)]="commentContent">
    </div>

    <div class="edit-mode-options">
        <h3 class="heading heading__three save-comment" (click)="onCreatePost()">Save</h3>
        <span class="slash">|</span>
        <h3 class="heading heading__three cancel-comment" (click)="hideCreateCommentBox()">Cancel</h3>
    </div>
</div>