// css - variables
:root {

    --color-gray-light: #f5f7fa;
    --color-gray-dark: #1e272e;
    --color-gray-nav: #171e24;
    --color-gray-darken: #232526;

    --color-gray-line: #d3dce9;
    --color-gray-nav-light-theme: #242f39;

    --color-yellow-light: #ffd32a;
    --color-yellow-medium: #ffcc08;
    --color-yellow-dark: #d4a800;

    --color-red-light: #ff2f23;
    --color-red-dark: #e55039;

    --color-blue: #20b2aa;
    --color-blue-light: #0fbcf9;
    --color-blue-dark: #575fcf;

    --color-btns: lightseagreen;

    --shadow-ligth: 0 1rem 1rem rgba(0, 0, 0, 0.4);
    --shadow-btn: 0 .5rem .5rem rgba(0, 0, 0, 0.3);
    --shadow-all-sides: 0 .1rem 1rem 0 rgba(0,0,0,0.5);

}