.user-box__small {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
}

.user-box__small-img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: 0 .1rem .5rem 0 rgba(0,0,0,0.7);
    margin-right: 1rem;
    background-color: var(--color-grey-line);
    background-size: cover;
}

.heading__four--avatar {
    color: var(--color-gray-nav);
    margin-bottom: -.2rem;
    margin-right: -.2rem;
}