<div class="user-box__small">
    <!-- <img src="../../../../assets/img/photoM.jpg" alt="photo men" class="user-box__small-img"> -->
    
    <div class="user-avatar">
        <h4 class="heading heading__four heading__four--avatar">{{username.charAt(0).toUpperCase()}}</h4>
    </div>

    <h3 class="heading heading__comment">{{ username }}</h3>
</div>