.nav-actions {
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    gap: 1rem;
    list-style: none;
    margin: 4rem auto 4rem 2rem; 
}
.nav-actions__item {
    font-size: 2.5rem;
    cursor: pointer; 
}
.nav-actions__item:not(:last-child) {
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: .5rem;
}
.nav-actions__item:not(:last-child):hover {
    border: 1px solid rgba(87, 88, 187, 0.3);
}
.nav-actions__item:focus {
    outline: none;
}
.nav-actions__item:last-child {
    margin-top: 2rem;
    border-top: 1px solid rgba(35, 37, 38, 0.3);
    padding: 1rem 0 1rem 1rem;
}
.nav-actions__item-icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-blue-dark);
    margin-right: 1rem; 
}