<ul class="nav-actions">
    <li class="nav-actions__item" routerLink='session/posts'>
      <svg class="nav-actions__item-icon">
        <use xlink:href="../../../../assets/img/sprite.svg#icon-file-text2"></use>
      </svg>
      Posts
    </li>
    <li class="nav-actions__item" routerLink='session/friends'>
      <svg class="nav-actions__item-icon">
        <use xlink:href="../../../../assets/img/sprite.svg#icon-people_alt"></use>
      </svg>
      Friends
    </li>
    <li class="nav-actions__item" routerLink='session/activity'>
      <svg class="nav-actions__item-icon">
        <use xlink:href="../../../../assets/img/sprite.svg#icon-bullhorn"></use>
      </svg>
      Activity
    </li>
    <li class="nav-actions__item" routerLink='session/about'>
      <svg class="nav-actions__item-icon">
        <use xlink:href="../../../../assets/img/sprite.svg#icon-info1"></use>
      </svg>
      About
    </li>
    <li class="nav-actions__item" routerLink='session/preferences'>
      <svg class="nav-actions__item-icon">
        <use xlink:href="../../../../assets/img/sprite.svg#icon-settings"></use>
      </svg>
      Preferences
    </li>

    <li *ngIf="user.roles.includes('Admin')" class="nav-actions__item" routerLink='session/admin-control'>
      <svg class="nav-actions__item-icon">
        <use xlink:href="../../../../assets/img/sprite.svg#icon-user-tie"></use>
      </svg>
      Admin Control
    </li>

    <li class="nav-actions__item" (click)="logout()">
      <svg class="nav-actions__item-icon">
        <use xlink:href="../../../../assets/img/sprite.svg#icon-exit"></use>
      </svg>
      Logout
    </li>
</ul>