<div class="post-box-small" (click)="openPost()">
    <h4 class="heading heading__four">{{ post.title }}</h4>
    <h5 class="heading heading__five">{{ post.content.slice(0, 100).concat('...') }}</h5>
    <app-user-box-small [username]='post.userCreator.username'></app-user-box-small>
</div>
