.post-box-small {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: .6rem;
    width: 100%;
    margin: 1rem auto;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: .5rem 1.2rem; 
}
.post-box-small:hover {
    border: 1px solid rgba(87, 88, 187, 0.3);
}