.nav {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 2.5rem;
    align-items: center;
    justify-content: end;
    height: 5rem;
    width: 100%;
    padding-right: 10rem; 
}

.btns__add-post {
    font-size: 1.5rem;
    border: none;
    padding: 1.3rem;
    border-radius: 1rem;
    background-color: var(--color-blue-dark);
    color: #fff;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.7);
    transition: all .2s;
    backface-visibility: hidden; 
}
.btns__add-post:hover {
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.6); 
}
.btns__add-post:active {
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2); 
}