<div class="hero__activity">
  <div class="activity-heading">
    <h2 class="heading heading__two">Activity</h2>
    <div class="activity-options">
        <svg class="activity-options__icon" routerLink="/session/activity/all">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-newspaper"></use>
          </svg>
          <svg class="activity-options__icon" routerLink="/session/activity/posts">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-file-text2"></use>
          </svg>
          <svg class="activity-options__icon" routerLink="/session/activity/comments">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-bubbles4"></use>
          </svg>
    </div>
  </div>

  <div class="hero__activity-body">
    <app-activity-single *ngFor="let activityItem of activity" [activityItem]="activityItem"></app-activity-single>
  </div>
</div>
