<form [formGroup]="this.userLoginCredentials">
    <div class="home-container" *ngIf='!loggedIn'>

    <div class="form-container__heading">
        <h1 class="heading heading__one">Welcome</h1>
    </div>

        <div class="form-container">
            <div class="sign-in-form sign-in-form__inputs-box">
                <div class="input-box">
                    <svg class="sign-in-form__icon">
                        <use xlink:href="../../../../assets/img/sprite.svg#icon-user"></use>
                    </svg>
                    <input #loginUsername type="text" name="name" class="form__input form__input--name" placeholder="Name" formControlName="name">
                    <div *ngIf="
                        this.userLoginCredentials.controls.name.dirty 
                            &&
                        this.userLoginCredentials.controls.name.errors?.required">
                        <p class="error-msg">The username is rather important for your login :)</p>
                    </div>
                </div>
            
                <div class="input-box">
                    <svg class="sign-in-form__icon">
                        <use xlink:href="../../../../assets/img/sprite.svg#icon-vpn_key"></use>
                    </svg>
                    <input #loginPassword type="password" name="password" class="form__input form__input--password" placeholder="Password" formControlName="password">
                    <div *ngIf="
                        this.userLoginCredentials.controls.password.dirty 
                            &&
                        this.userLoginCredentials.controls.password.errors?.required">
                        <p class="error-msg">Your password is essential for your login :)</p>
                    </div>
                </div>
            </div>
            
            <div class="sign-in-form sign-in-form__btn-box" >
                <button 
                    (click)="login(loginUsername.value, loginPassword.value)" 
                    class="btns btns__submit"
                    [disabled]="this.userLoginCredentials.invalid">Sign In
                </button>
            </div>
        </div>

    </div>
</form>

