/* :root {
  --color-gray-light: #f5f7fa;
  --color-gray-dark: #1e272e;
  --color-gray-nav: #171e24;
  --color-gray-darken: #232526;
  --color-gray-line: #d3dce9;
  --color-gray-icon: #242f39;
  --color-yellow-light: #ffd32a;
  --color-yellow-medium: #ffcc08;
  --color-yellow-dark: #d4a800;
  --color-red-light: #ff2f23;
  --color-red-dark: #e55039;
  --color-blue: #20b2aa;
  --color-blue-light: #0fbcf9;
  --color-blue-dark: #5758BB;
  --color-btns: lightseagreen;
  --shadow-ligth: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  --shadow-btn: 0 .5rem .5rem rgba(0, 0, 0, 0.3);
  --shadow-all-sides: 0 .1rem 1rem 0 rgba(0,0,0,0.5); }

@keyframes moveDownStop {
  0% {
    opacity: 0;
    transform: translateY(-15rem); }
  45% {
    opacity: 0; }
  55% {
    opacity: 0.3; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-scrollbar) transparent;
  scrollbar-width: thin; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  color: var(--color-gray-darken);
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem; }

::-webkit-scrollbar {
  width: .2rem;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar); }

::selection {
  background-color: var(--color-blue-dark);
  color: #fff; } */

/* .heading {
  display: block;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: .2rem;
  color: inherit; }
  .heading__one {
    font-size: 5rem; }
  .heading__two {
    font-size: 3.5rem; }
  .heading__two-user {
    font-size: 3rem; }
  .heading__three {
    font-size: 2rem; }
  .heading__four {
    font-size: 2rem;
    text-transform: none;
    padding-bottom: .5rem; }
  .heading__five {
    font-size: 1.4rem;
    text-transform: none; }
  .heading__comment {
    font-size: 1.5rem; } */

/* .about-options {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  border-bottom: 1px solid rgba(87, 88, 187, 0.5); }
  .about-options__icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-blue-dark);
    cursor: pointer; } */

/* .activity-options {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  border-bottom: 1px solid rgba(87, 88, 187, 0.5); }
  .activity-options__icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-blue-dark);
    cursor: pointer; } */

/* .admin-options {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  border-bottom: 1px solid rgba(87, 88, 187, 0.5); }
  .admin-options__icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-blue-dark);
    cursor: pointer; }
  .admin-options__friends-box {
    display: grid;
    gap: 5rem; }
    .admin-options__friends-box-body {
      display: grid;
      gap: 3rem; } */

/* .avatar {
  display: flex;
  justify-content: center;
  align-items: center; }
  .avatar__icon {
    height: 6rem;
    border-radius: 50%; } */

/* .btns, .btns:link, .btns:visited {
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .12rem;
  cursor: pointer;
  border: none; }

.btns:focus {
  outline: none; } */

/* .btns__submit {
  font-size: 3.6rem;
  border: none;
  padding: 1.8rem;
  border-radius: 2rem;
  background-color: var(--color-blue-dark);
  color: #fff;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.7);
  transition: all .2s;
  backface-visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .btns__submit:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.6); }
  .btns__submit:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.2); } */

/* .btns__search {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  background-color: inherit;
  border-style: none;
  margin-top: .3rem; }
  .btns__search-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-blue-dark); }
    .btns__search-icon:hover {
      fill: var(--color-gray-light); }
    .btns__search-icon--friends:hover {
      fill: var(--color-gray-dark); } */

/* .btns__add-post {
  font-size: 1.5rem;
  border: none;
  padding: 1.3rem;
  border-radius: 1rem;
  background-color: var(--color-blue-dark);
  color: #fff;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.7);
  transition: all .2s;
  backface-visibility: hidden; }
  .btns__add-post:hover {
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.6); }
  .btns__add-post:active {
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2); } */

/* .comment-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  border: 1px solid var(--color-gray-line); }
  .comment-box__header {
    display: grid;
    grid-template-columns: max-content;
    justify-content: space-between; }
  .comment-box__body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .comment-box__body-content {
      display: inline-block;
      font-family: inherit;
      font-weight: 400;
      letter-spacing: .2rem;
      color: inherit;
      font-size: 1.7rem; }
  .comment-box__action {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1.5rem;
    justify-content: end;
    align-items: center;
    padding: 1rem 0; }
    .comment-box__action-icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-gray-icon);
      cursor: pointer; }
  .comment-box__footer {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    border-top: 1px solid var(--color-gray-line); }
  .comment-box__date {
    display: inline-block;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: .2rem;
    color: inherit;
    padding: 1rem 0 0 1rem;
    font-size: 1.3rem; } */

/* .form {
  width: 100%;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content max-content;
  border-radius: 2rem;
  padding: 3rem; }
  .form__inputs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    margin-bottom: 2rem; }
  .form__btn {
    display: flex;
    justify-content: center;
    align-items: center; }
  .form__input {
    width: 100%;
    height: 5rem;
    font-family: inherit;
    font-weight: 300;
    background-color: transparent;
    font-size: 2.5rem;
    color: inherit;
    cursor: pointer;
    border: none;
    border-bottom: 0.1rem solid rgba(30, 39, 46, 0.4);
    padding-left: .5rem; }
    .form__input:not(:last-child) {
      margin-bottom: 3rem; }
    .form__input:focus {
      outline: none; } */

.friends-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  border-radius: 2rem;
  border: 1px solid rgba(87, 88, 187, 0.3);
  padding: 1.5rem; }
  .friends-container__options {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 2rem; }
    .friends-container__options-icon {
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      fill: var(--color-gray-icon); }
      .friends-container__options-icon--remove {
        fill: var(--color-red-dark); }

/* .nav-actions {
  background-color: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
  gap: 2rem;
  list-style: none;
  margin: 4rem auto 4rem auto; }
  .nav-actions__item {
    font-size: 2.5rem;
    cursor: pointer; }
    .nav-actions__item:last-child {
      margin-top: 2rem;
      border-top: 1px solid rgba(35, 37, 38, 0.3);
      padding: 1rem 0; }
    .nav-actions__item-icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: var(--color-blue-dark);
      margin-right: 1rem; } */

/* .nav {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 10rem;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  padding-right: 10rem; } */

/* .people-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem; } */
  /* .people-box__id {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; }
    .people-box__id-img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 1.3rem; } */
      /* .people-box__id-img--comment {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem; } */

/* .post-box {
  border-radius: 2rem;
  padding: 2rem;
  border: 1px solid rgba(87, 88, 187, 0.5);
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, max-content) 35rem;
  gap: 3rem; }
  .post-box__header {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: start;
    gap: 5rem; }
    .post-box__header-heading {
      display: inline-block;
      text-transform: uppercase;
      font-family: inherit;
      font-weight: 400;
      letter-spacing: .2rem;
      color: inherit;
      font-size: 3.8rem; }
  .post-box__body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .post-box__body-content {
      display: inline-block;
      font-family: inherit;
      font-weight: 400;
      letter-spacing: .2rem;
      color: inherit;
      font-size: 2.2rem; }
  .post-box__footer {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    border-top: 1px solid var(--color-gray-line); }
  .post-box__date {
    display: inline-block;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: .2rem;
    color: inherit;
    padding: 1rem 0;
    font-size: 1.7rem; }
  .post-box__action {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 3rem;
    justify-content: end;
    align-items: center;
    padding: 1rem 0; }
    .post-box__action-icon {
      width: 2.2rem;
      height: 2.2rem;
      fill: var(--color-gray-icon);
      cursor: pointer; }
  .post-box__comment-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: start;
    align-items: start;
    width: 50%;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll; } */

/* .post-side-box {
  width: 100%;
  margin: 1rem auto;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: .5rem 1.2rem; }
  .post-side-box:hover {
    border: 1px solid var(--color-gray-darken); } */

/* .search-bar {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0;
  width: 100%; } */
  .search-bar--friends {
    width: 45%;
    margin-top: 7rem; }
  /* .search-bar--users {
    width: 45%;
    margin-top: 2rem; } */
  /* .search-bar__input {
    width: 100%;
    height: 5rem;
    border: none;
    border-bottom: 0.5px solid #575fcf;
    background-color: transparent;
    font-size: 2.3rem;
    font-family: inherit;
    letter-spacing: .17rem;
    font-weight: 400;
    color: var(--color-gray-darken);
    padding: 0 2rem;
    cursor: pointer; }
    .search-bar__input:focus {
      outline: none; } */

/* .user-info-box {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  gap: 2rem; }
  .user-info-box__role-icon {
    width: 2rem;
    height: 2rem;
    fill: inherit;
    margin-bottom: -.6rem; } */

/* .users-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  border-radius: 2rem;
  border: 1px solid rgba(87, 88, 187, 0.3);
  padding: 1.5rem; }
  .users-container__options {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    align-items: center;
    gap: 2.5rem; }
    .users-container__options-icon {
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      fill: var(--color-gray-icon); }
      .users-container__options-icon--remove {
        fill: var(--color-red-dark); } */

/* .container {
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 6rem;
  background-color: rgba(245, 247, 250, 0.6);
  width: 100%;
  border-radius: 4rem;
  overflow: hidden;
  box-shadow: var(--shadow-all-sides); }
  .container__header-box {
    display: grid;
    grid-template-columns: max-content 70%;
    gap: 5rem;
    padding: 2rem 2rem 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%; }
  .container__body-box {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;
    height: auto;
    width: 100%; } */

/* .hero-side {
  display: grid;
  grid-template-rows: max-content 40rem max-content 35rem;
  gap: 3rem;
  padding: 2rem 2rem 2rem 3rem;
  margin-bottom: 5rem; }
  .hero-side-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .hero-side__posts-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden; }
  .hero-side__friends-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden; } */

/* .hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100rem;
  border-radius: 5rem 5rem 0 5rem;
  box-shadow: var(--shadow-all-sides);
  margin-right: 2rem;
  padding: 5rem;
  background-color: rgba(245, 247, 250, 0.8);
  overflow-x: hidden;
  overflow-y: scroll; } */
  /* .hero__posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    gap: 7rem;
    overflow-x: hidden;
    overflow-y: scroll; } */
  .hero__friends {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 7rem;
    justify-content: start;
    align-items: flex-start; }
    .hero__friends-body {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      overflow-x: hidden;
      overflow-y: scroll; }
  .hero__activity {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    overflow-x: hidden;
    overflow-y: scroll; }
    .hero__activity-heading {
      display: grid;
      gap: 5rem; }
  /* .hero__about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    overflow-x: hidden;
    overflow-y: scroll; }
    .hero__about-heading {
      display: grid;
      gap: 5rem; } */
  /* .hero__preferences {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    gap: 6rem;
    overflow-x: hidden;
    overflow-y: scroll; }
    .hero__preferences-body {
      display: grid;
      grid-template-rows: repeat(4, max-content);
      gap: 3rem;
      justify-content: start;
      align-items: flex-start; } */
  /* .hero__admin {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    gap: 6rem;
    overflow-x: hidden;
    overflow-y: scroll; }
    .hero__admin-heading {
      display: grid;
      gap: 5rem; } */

/* .menu {
  background-color: var(--color-red-dark); }
  .menu__checkbox {
    display: none; }
  .menu__btn--open {
    display: block; }
  .menu__btn--close {
    display: none; }
  .menu__icon {
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
    height: 3rem;
    width: 3rem;
    fill: var(--color-gray-darken);
    z-index: 2000;
    cursor: pointer; }
  .menu__bgr {
    position: absolute;
    top: 3rem;
    right: 3rem;
    height: 4rem;
    width: 4rem;
    z-index: 1000;
    border-radius: .5rem;
    background-color: var(--color-gray-light);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    transition: all .4s; }
  .menu__nav {
    position: absolute;
    top: 1rem;
    right: 4rem;
    height: 35rem;
    width: 5rem;
    z-index: 1500;
    display: none;
    padding: 0 5rem 0 2rem;
    font-family: inherit;
    font-weight: inherit;
    color: var(--color-gray-darken); }
  .menu__checkbox:checked ~ .menu__bgr {
    width: 25rem;
    border-radius: .5rem;
    height: 40rem; }
  .menu__checkbox:checked ~ .menu__nav {
    display: flex;
    flex-direction: column;
    width: 25rem;
    animation-name: moveDownStop;
    animation-duration: .6s; }
  .menu__checkbox:checked ~ .menu__btn--open {
    display: none; }
  .menu__checkbox:checked ~ .menu__btn--close {
    display: block; } */
