.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.form-container__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem; 
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    justify-content: center; 
    padding: 3rem;

    border: 1px solid rgba(87, 88, 187, 0.2);
    border-radius: 2rem;
}

.registration-form {
    width: 100%;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
    border-radius: 2rem;
    padding: 3rem; 
}
.registration-form__inputs-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    gap: 2rem;
    margin-bottom: 2rem; 
}
.registration-form__btn-box {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.registration-form__icon {
    position: absolute;
    top: 1.7rem;
    left: .5rem;
    width: 2rem;
    height: 2rem;
    fill: rgba(30, 39, 46, 0.5);
}

.form__input {
    width: 100%;
    height: 5rem;
    font-family: inherit;
    font-weight: 300;
    background-color: transparent;
    font-size: 2.5rem;
    color: inherit;
    cursor: pointer;
    border: none;
    border-bottom: 0.1rem solid rgba(30, 39, 46, 0.4);
    padding-left: 4rem;
}
.form__input:not(:last-child) {
    margin-bottom: 3rem; 
}
.form__input:focus {
    outline: none; 
}

.input-box {
    position: relative;
}

.btns__submit {
    font-size: 2.8rem;
    border: none;
    padding: 1.8rem;
    border-radius: 1.5rem;
    background-color: var(--color-blue-dark);
    color: #fff;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.7);
    transition: all .2s;
    backface-visibility: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.btns__submit:hover {
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.7);  
}

.btns__submit:active {
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);  
}

.form__input.ng-invalid {
    color: crimson;
}

.error-msg {
    font-size: 1.5rem;
    color: crimson;
}