<form [formGroup]="this.userRegisterCredentials">
    <div class="home-container" *ngIf='!loggedIn'>

        <div class="form-container__heading">
            <h1 class="heading heading__one">Join our community</h1>
        </div>

        <div class="form-container">
            <div class="registration-form registration-form__inputs-box">
                <div class="input-box">
                    <svg class="registration-form__icon">
                        <use xlink:href="../../../../assets/img/sprite.svg#icon-user"></use>
                    </svg>
                    <input #registerUsername type="text" name="name" class="form__input form__input--name" placeholder="Name" formControlName="name">
                        
                        <div *ngIf="
                            this.userRegisterCredentials.controls.name.dirty 
                                &&
                            this.userRegisterCredentials.controls.name.errors?.required">
                            <p class="error-msg">The username is rather important for your registration :)</p>
                        </div>
                        
                        <div *ngIf="
                            this.userRegisterCredentials.controls.name.dirty 
                                &&
                            this.userRegisterCredentials.controls.name.errors?.minlength">
                            <p class="error-msg">Username should be more than 4 characters</p>
                        </div>
                        
                        <div *ngIf="
                            this.userRegisterCredentials.controls.name.dirty 
                                &&
                            this.userRegisterCredentials.controls.name.errors?.maxlength">
                            <p class="error-msg">Username should not exceed 12 symbols</p>
                        </div>
                </div>
                <div class="input-box">
                    <svg class="registration-form__icon">
                        <use xlink:href="../../../../assets/img/sprite.svg#icon-alternate_email"></use>
                    </svg>
                    <input #registerEmail type="email" name="email" class="form__input form__input--email" placeholder="Email" formControlName="email">
                        
                        <div *ngIf="
                            this.userRegisterCredentials.controls.email.dirty 
                                &&
                            this.userRegisterCredentials.controls.email.errors?.required">
                            <p class="error-msg">The email is a must for your registration :)</p>
                        </div>
                        
                        <div *ngIf="
                            this.userRegisterCredentials.controls.email.dirty 
                                &&
                            this.userRegisterCredentials.controls.email.errors?.email">
                            <p class="error-msg">Please provide a valid email</p>
                        </div>
                </div>
                <div class="input-box">
                    <svg class="registration-form__icon">
                        <use xlink:href="../../../../assets/img/sprite.svg#icon-vpn_key"></use>
                    </svg>
                    <input #registerPassword type="password" name="password" class="form__input form__input--password" placeholder="Password" formControlName="password">
                    
                        <div *ngIf="
                            this.userRegisterCredentials.controls.password.dirty 
                                &&
                            this.userRegisterCredentials.controls.password.errors?.required">
                            <p class="error-msg">No profile without a password :)</p>
                        </div>
                    
                        <div *ngIf="
                            this.userRegisterCredentials.controls.password.dirty 
                                &&
                            this.userRegisterCredentials.controls.password.errors?.pattern">
                            <p class="error-msg">Passwor should be atleast 5 symbols including capital letter and a number</p>
                        </div>
                </div>
            </div>
            
            <div class="registration-form registration-form__btn-box">
                <button 
                    (click)="register(registerUsername.value, registerEmail.value, registerPassword.value)" 
                    class="btns btns__submit"
                    [disabled]="this.userRegisterCredentials.invalid">Register</button>
            </div>
        </div>

    </div>
</form>
