<div class="comment-box">

    <div class="comment-box__header">
      <app-user-box-small [username]='comment.userCreator.username'></app-user-box-small>
    </div>

    <div class="comment-box__body" *ngIf="!isInEditMode">
      <p class="comment-box__body-content">{{ comment.content }}</p>
    </div>

    <div class="comment-box__body" *ngIf="isInEditMode">
      <textarea class="content-input" placeholder="{{ comment.content }}" [(ngModel)]="comment.content"></textarea>
    </div>
    <div class="edit-mode-options" *ngIf="isInEditMode">
      <h3 class="heading heading__three save-post" (click)="onUpdateComment(comment)">Save</h3>
      <span class="slash">|</span>
      <h3 class="heading heading__three cancel-post" (click)="showHideEditorMode()">Cancel</h3>
    </div>

    <div class="comment-box__footer">

      <div class="comment-box__date">
        <p>{{ comment.createdOn | date: 'fullDate' }}  {{ comment.createdOn | date: 'shortTime' }}</p>
      </div>

      <div class="comment-box__action">
        <div class="like-box">
          <p class="like-number">{{ comment.votes.length }}&nbsp;</p>
          <svg class="comment-box__action-icon" (click)="onLikeComment(comment)">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-like"></use>
          </svg>
        </div>
        <svg class="comment-box__action-icon" *ngIf="user.id === comment.userCreator.id && !isInEditMode" (click)="showHideEditorMode()">
          <use xlink:href="../../../../assets/img/sprite.svg#icon-pencil"></use>
        </svg>
        <svg class="comment-box__action-icon comment-box__action-icon--bin" *ngIf="user.id === comment.userCreator.id || user.roles.includes('Admin')" (click)="onDeleteComment(comment)">
          <use xlink:href="../../../../assets/img/sprite.svg#icon-bin"></use>
        </svg>
      </div>

    </div>
    
</div>
