<div class="hero__about">
    <div class="about-heading">
        <h2 class="heading heading__two">About</h2>
        <div class="about-options">
            <svg class="about-options__icon">
              <use xlink:href="../../../../assets/img/sprite.svg#icon-people_alt"></use>
            </svg>
            <svg class="about-options__icon">
              <use xlink:href="../../../../assets/img/sprite.svg#icon-stats-bars"></use>
            </svg>
            <svg class="about-options__icon">
              <use xlink:href="../../../../assets/img/sprite.svg#icon-mail"></use>
            </svg>
        </div>
    </div>

    <div class="about-body">
        <div class="home-container">
        
            <div class="form-container">
                <h1 class="heading">Who We Are:</h1>
                <br>
                <p> <span class="names">Svetozar Martinov</span>  & <span class="names"> Georgi Priporski</span></p>
                <br>
                <br>
                <br>
                <h1 class="heading">Our Mission:</h1>
                <p class="explain">We are two young (and not so young) future developers. This is our first serious attempt at creating something very nice and working from scratch as a team.</p>
                <p class="explain">And waht a team we are!</p>
                <p class="explain"></p>
            </div>
      
        </div>
    </div>
</div>
    