.hero__about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    gap: 6rem;
    overflow-x: hidden;
    overflow-y: scroll; 
}
.about-heading {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    gap: 5rem; 
    border-bottom: 1px solid rgba(87, 88, 187, 0.5); 
    padding: 0 1rem 1rem 1rem;
}
.about-options {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 4rem; 
}
.about-options__icon {
    width: 2.7rem;
    height: 2.7rem;
    fill: var(--color-blue-dark);
    cursor: pointer; 
}
.about-options__icon:focus {
    outline: none;
}

.about-body {

}
p {
    font-size: 2.5rem;
}
  
.names {
    font-family: inherit;
    font-weight: bold;
}
  
.explain {
    font-family: inherit;
    font-size: 2.1rem;
  
}
.form-container__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 7rem; 
}
  
.form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    justify-content: center; 
    padding: 3rem;
  
    border: 1px solid rgba(87, 88, 187, 0.2);
    border-radius: 2rem;
}