.admin-options {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    border-bottom: 1px solid rgba(#5758BB, .5);

    &__icon {
        width: 3rem;
        height: 3rem;
        fill: var(--color-blue-dark);
        cursor: pointer;
    }

    &__friends-box {
        display: grid;
        gap: 5rem;
        
        &-body {
            display: grid;
            gap: 3rem;
        }
    }
}