.btns {
  &,
  &:link,
  &:visited {

    font-family: inherit;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .12rem;
    cursor: pointer;
    border: none;
  }

  &:focus {
    outline: none;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    height: 100%;
    padding: 0 2rem;
    font-size: 2.3rem;
    
    border-bottom: .5px solid transparent;

    transition: all .1s;

    &--target {
      border-radius: 2rem;
      border: .5px solid var(--color-gray-darken);
      
      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        border: .5px solid var(--color-gray-light);
      }
      &:active {
        border: .5px solid var(--color-blue-dark);
      }
    }

    &:hover {
      border-bottom: .5px solid var(--color-gray-light);
    }
    &:active {
      border-bottom: .5px solid var(--color-blue-dark);
    }
    &:focus {
      outline: none;
    }
  }

  &__submit {
    font-size: 3.6rem;
    border: none;
    padding: 1.8rem;
    border-radius: 2rem;
    background-color: var(--color-blue-dark);
    
    color: #fff;
    box-shadow: 0 .1rem 1rem 0 rgba(0,0,0,0.7);
    transition: all .2s;

    backface-visibility: hidden;
            
    //
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 .1rem 1rem 0 rgba(0,0,0,0.6);
    }
    &:active {
      transform: translateY(-.1rem);
      box-shadow: 0 .1rem 1rem 0 rgba(0,0,0,0.2);
    }
  }

  &__search {
    position: absolute;
    top: 50%; 
    right: 0;
    transform: translate(-50%, -50%);
    background-color: inherit;
    border-style: none;
    margin-top: .3rem;

    &-icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--color-blue-dark);

      &:hover {
        fill: var(--color-gray-light);
      }

      &--friends {
        &:hover {
          fill: var(--color-gray-dark);
        }
      }
    }
  }

  &__add-post {
    font-size: 1.5rem;
    border: none;
    padding: 1.3rem;
    border-radius: 1rem;
    background-color: var(--color-blue-dark);
    
    color: #fff;
    box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,0.7);
    transition: all .2s;

    backface-visibility: hidden;

    &:hover {
      box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,0.6);
    }
    &:active {
      box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,0.2);
    }
  }
}
