.comment-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    
    border-radius: 2rem;
    padding: 1rem;
    border: 1px solid var(--color-gray-line);

    &__header {
        display: grid;
        grid-template-columns: max-content;
        justify-content: space-between;
    }

    &__body {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        &-content {
            display: inline-block;
            font-family: inherit;
            font-weight: 400;
            letter-spacing: .2rem;
            color: inherit;

            font-size: 1.7rem;
        }
    }

    &__action {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 1.5rem;
        justify-content: end;
        align-items: center;
        padding: 1rem 0;

        &-icon {
            width: 2rem;
            height: 2rem;
            fill: var(--color-gray-icon);
            cursor: pointer;
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        border-top: 1px solid var(--color-gray-line);
    }

    &__date {
        display: inline-block;
        text-transform: uppercase;
        font-family: inherit;
        font-weight: 300;
        letter-spacing: .2rem;
        color: inherit;
        padding: 1rem 0 0 1rem;

        font-size: 1.3rem;
    }
}