.form {
    width: 100%;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;

    // border: .1rem solid rgba(#1e272e, .5); 
    border-radius: 2rem;
    padding: 3rem;

    &__inputs {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
        margin-bottom: 2rem;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__input {
        width: 100%;
        height: 5rem;

        font-family: inherit;
        font-weight: 300; 
        background-color: transparent;
        font-size: 2.5rem;
        color: inherit;
        cursor: pointer;
        border: none;
        border-bottom: .1rem solid rgba(#1e272e, .4); 
        padding-left: .5rem;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }

        &--name {
            
        }
        &--email {
            
        }
        &--password {

        }
        &:focus {
            outline: none;
        }
    }   
}
