.friends-container {
    display: grid;
    grid-template-columns: 1fr max-content;
    border-radius: 2rem;
    border: 1px solid rgba(#5758BB, .3);
    padding: 1.5rem;

    &__friend {
        
    }

    &__options {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        gap: 2rem;

        &-icon {
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            fill: var(--color-gray-icon);
            
            &--remove {
                fill: var(--color-red-dark);
            }
        }
    }
}