.nav-actions {
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
    gap: 2rem;
    list-style: none;
  
    margin: 4rem auto 4rem auto;
  
    &__item {
      font-size: 2.5rem;
      cursor: pointer;

      &:last-child {
        margin-top: 2rem;
        border-top: 1px solid rgba(#232526, .3);
        padding: 1rem 0;
      }
      
      &-icon {
        width: 1.8rem;
        height: 1.8rem;
        fill: var(--color-blue-dark);
        margin-right: 1rem;
      }
    }
}