.people-box {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;

    &__id {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        &-img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-right: 1.3rem;

            &--comment {
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 1rem;
            }
        }
    }
}