.post-side-box {
    width: 100%;
    margin: 1rem auto;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: .5rem 1.2rem;

    &:hover {
        border: 1px solid var(--color-gray-darken);
    }
}