.post-box {
    border-radius: 2rem;
    padding: 2rem;
    border: 1px solid rgba(#5758BB, .5);
    height: 100%;

    display: grid;
    grid-template-rows: repeat(3, max-content) 35rem;
    gap: 3rem;

    &__header {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        justify-content: start;
        gap: 5rem;

        &-heading {
            display: inline-block;
            text-transform: uppercase;
            font-family: inherit;
            font-weight: 400;
            letter-spacing: .2rem;
            color: inherit;

            font-size: 3.8rem;
        }
    }

    &__body {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        &-content {
            display: inline-block;
            font-family: inherit;
            font-weight: 400;
            letter-spacing: .2rem;
            color: inherit;

            font-size: 2.2rem;
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        border-top: 1px solid var(--color-gray-line);
    }

    &__date {
        display: inline-block;
        text-transform: uppercase;
        font-family: inherit;
        font-weight: 300;
        letter-spacing: .2rem;
        color: inherit;
        padding: 1rem 0;

        font-size: 1.7rem;
    }

    &__action {
        display: grid;
        grid-template-columns: repeat(5, max-content);
        gap: 3rem;
        justify-content: end;
        align-items: center;
        padding: 1rem 0;

        &-icon {
            width: 2.2rem;
            height: 2.2rem;
            fill: var(--color-gray-icon);
            cursor: pointer;
        }
    }

    &__comment-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-content: start;
        align-items: start;

        width: 50%;
        padding: 1rem;

        overflow-x: hidden;
        overflow-y: scroll;
    }

}