.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0;
  width: 100%;

  &--friends {
    width: 45%;
    margin-top: 7rem;
  }

  &--users {
    width: 45%;
    margin-top: 2rem;
  }

  &__input {
    width: 100%;
    height: 5rem;

    border: none;
    border-bottom: .5px solid rgba(#575fcf, 1);

    background-color: transparent;

    font-size: 2.3rem;
    font-family: inherit;
    letter-spacing: .17rem;
    font-weight: 400;
    color: var(--color-gray-darken);
    padding: 0 2rem;
    cursor: pointer;

    &:focus{
      outline: none;
    }
  }
}