.user-info-box {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 2rem;

    &__name {

    }
    &__role {
        
        &-icon {
            width: 2rem;
            height: 2rem;
            fill: inherit;
            margin-bottom: -.6rem;
        }
    }
}