.post-box {
    border-radius: 2rem;
    padding: 1.4rem;
    border: 1px solid var(--color-gray-line);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, max-content);
    gap: 3rem; 
    margin-bottom: 3rem;
}
.post-box__header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: start;
    gap: 5rem; 
}
.post-box__header-heading {
    display: inline-block;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: .2rem;
    color: inherit;
    font-size: 3.5rem; 
}
.post-box__body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
}
.post-box__body-content {
    display: inline-block;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: .2rem;
    color: inherit;
    font-size: 2.2rem; 
}
.post-box__footer {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    border-top: 1px solid var(--color-gray-line);
}
.post-box__date {
    display: inline-block;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: .2rem;
    color: inherit;
    padding: 1rem 0;
    font-size: 1.7rem; 
}
.post-box__comment-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: start;
    align-items: start;
    width: 55%;
    height: 30rem;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: scroll; 
    border-top: 1px solid rgba(87, 88, 187, 0.15);
    border-bottom: 1px solid rgba(87, 88, 187, 0.15);
}

.post-box__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0; 
}

.post-box__action-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-blue-light);
    cursor: pointer; 
}
.post-box__action-icon--bin {
    fill: var(--color-red-dark);
}
.post-box__action-icon--locked {
    position: absolute;
    top: .5rem;
    right: .5rem;
    fill: var(--color-gray-nav);
    cursor: initial;
}
.post-box__action-icon:not(:last-child) {
    margin-right: 1.7rem;
}

.view-comments {
    color: var(--color-yellow-dark);
    cursor: pointer;
    text-transform: uppercase;
}
.add-comment {
    color: var(--color-yellow-dark);
    cursor: pointer;
    text-transform: uppercase;
}

.like-box {
    position: relative;
    display: flex;
    margin-right: 1.5rem;

}
.like-number {
    position: absolute;
    top: 0;
    left: -.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: .7rem;
    font-weight: 400;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: var(--color-red-dark);
}

.edit-mode-options {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 1rem;
}
.save-post {
    cursor: pointer;
    font-weight: 400;
    color: var(--color-btns);
}
.cancel-post {
    cursor: pointer;
    font-weight: 400;
    color: var(--color-btns);
}
.slash {
    font-weight: 400;
    color: var(--color-btns);
    font-size: 2rem;
}

.title-input {
    display: inline-block;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: .2rem;
    color: inherit;
    font-size: 3.5rem; 
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--color-btns);
    padding: .1rem;
    border-radius: .5rem;
}
.title-input:focus {
    outline: none;
}

.content-input {
    width: 100%;
    height: 15rem;
    font-family: inherit;
    font-weight: 400;
    background-color: transparent;
    font-size: 2.2rem;
    color: inherit;
    letter-spacing: .2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border: 1px solid var(--color-btns);
    padding: .5rem;
    border-radius: .5rem;
}
.content-input:focus {
    outline: none;
}

.actions-comment-container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 5rem;
}
