<div class="post-box">

    <div class="post-box__header" *ngIf="!isInEditMode">
      <app-user-box-big [username]='post.userCreator.username'></app-user-box-big>
      <h2 class="post-box__header-heading">{{ post.title }}</h2>
      <svg class="post-box__action-icon post-box__action-icon--locked" *ngIf="this.post.isLocked">
        <use xlink:href="../../../../assets/img/sprite.svg#icon-lock"></use>
      </svg>
    </div>

    <div class="post-box__body" *ngIf="!isInEditMode">
      <p class="post-box__body-content">{{ post.content }}</p>
    </div>

    <div class="post-box__header" *ngIf="isInEditMode">
      <app-user-box-big [username]='post.userCreator.username'></app-user-box-big>
      <textarea class="title-input" placeholder="{{ post.title }}" [(ngModel)]="post.title"></textarea>
    </div>

    <div class="post-box__body" *ngIf="isInEditMode">
      <textarea class="content-input" placeholder="{{ post.content }}" [(ngModel)]="post.content"></textarea>
    </div>

    <div class="edit-mode-options" *ngIf="isInEditMode">
      <h3 class="heading heading__three save-post" (click)="onUpdatePost(post)">Save</h3>
      <span class="slash">|</span>
      <h3 class="heading heading__three cancel-post" (click)="showHideEditorMode()">Cancel</h3>
    </div>
    

    <div class="post-box__footer">

        <div class="post-box__date">
          <p>{{ post.createdOn | date: 'fullDate' }}  {{ post.createdOn | date: 'shortTime' }}</p>
        </div>
        
        <div class="post-box__action">
          <div class="like-box">
            <p class="like-number">{{ post.votes.length }}&nbsp;</p>
            <svg class="post-box__action-icon" (click)="onLikePost(post)">
              <use xlink:href="../../../../assets/img/sprite.svg#icon-like"></use>
            </svg>
          </div>
          <svg class="post-box__action-icon" *ngIf="!this.post.isLocked">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-flag"></use>
          </svg>
          <svg class="post-box__action-icon" *ngIf="user.id === post.userCreator.id && !this.post.isLocked && !isInEditMode" (click)="showHideEditorMode()">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-pencil"></use>
          </svg>
          <svg class="post-box__action-icon" *ngIf="user.roles.includes('Admin') && !this.post.isLocked" (click)="onLockUnlockPost(post)">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-unlocked"></use>
          </svg>
          <svg class="post-box__action-icon" *ngIf="user.roles.includes('Admin') && this.post.isLocked" (click)="onLockUnlockPost(post)">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-lock"></use>
          </svg>
          <svg class="post-box__action-icon post-box__action-icon--bin" *ngIf="(user.id === post.userCreator.id || user.roles.includes('Admin')) && !this.post.isLocked" (click)="onDeletePost(post)">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-bin"></use>
          </svg>
        </div>
        
    </div>

    <div class="actions-comment-container">
      <h4 class="heading heading__four view-comments" *ngIf="!this.post.isLocked" (click)="showHideCommentBox(post.id)">View comments &#8628;</h4>
      <h4 class="heading heading__four add-comment" *ngIf="!this.post.isLocked" (click)="showCreateCommentBox(post.id)">Add Comment &#43;</h4>
    </div>
    
    <div class="post-box__comment-container" *ngIf="commentBoxloaded">
      <app-comment-box *ngFor='let comment of postComments' [comment]='comment' (eventLikeComment)="likeComment($event)" (eventDeleteComment)="deleteComment($event)" (eventUpdateComment)="updateComment($event)"></app-comment-box>

      <app-add-comment (eventCreateComment)="createComment($event)"></app-add-comment>
    </div>
    


  </div>
