p {
  font-size: 2.5rem;
}

.names {
  font-weight: bold;
}

.explain {
  font-size: 2rem;
}
.form-container__heading {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem; }

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  justify-content: center; 
  padding: 3rem;

  border: 1px solid rgba(87, 88, 187, 0.2);
  border-radius: 2rem;
}