<div class="home-container" *ngIf='!loggedIn'>


  <div class="form-container__heading">
      <h1 class="heading heading__one">General Terms && Conditions</h1>
  </div>

  <div class="form-container">
    <h1 class="heading">1. Introduction</h1>
    <p class="explain">Welcome to Team 11 (“Company”, “we”, “our”, “us”)!

      These Terms of Service (“Terms”, “Terms of Service”) govern your use of our website located at amazingForum.com (together or individually “Service”) operated by Team 11.
      
      Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and disclose information that results from your use of our web pages.
      
      Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). You acknowledge that you have read and understood Agreements, and agree to be bound of them.
      
      If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but please let us know by emailing at asd@neverland.world so we can try to find a solution. These Terms apply to all visitors, users and others who wish to access or use Service.</p>


      <h1 class="heading">2. Communications</h1>
      <p class="explain">By using our Service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or by emailing at asd@neverland.world.</p>

      <h1 class="heading">3. Contests, Sweepstakes and Promotions</h1>
      <p class="explain">Any contests, sweepstakes or other promotions (collectively, “Promotions”) made available through Service may be governed by rules that are separate from these Terms of Service. If you participate in any Promotions, please review the applicable rules as well as our Privacy Policy. If the rules for a Promotion conflict with these Terms of Service, Promotion rules will apply.</p>

      <h1 class="heading">4. Content</h1>
      <p class="explain">Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material (“Content”). You are responsible for Content that you post on or through Service, including its legality, reliability, and appropriateness.

        By posting Content on or through Service, You represent and warrant that: (i) Content is yours (you own it) and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and (ii) that the posting of your Content on or through Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account of anyone found to be infringing on a copyright.
        
        You retain any and all of your rights to any Content you submit, post or display on or through Service and you are responsible for protecting those rights. We take no responsibility and assume no liability for Content you or any third party posts on or through Service. However, by posting Content using Service you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through Service. You agree that this license includes the right for us to make your Content available to other users of Service, who may also use your Content subject to these Terms.
        
        Team 11 has the right but not the obligation to monitor and edit all Content provided by users.
        
        In addition, Content found on or through this Service are the property of Team 11 or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.</p>

      <h1 class="heading">5. Prohibited Uses</h1>
      <p class="explain">You may use Service only for lawful purposes and in accordance with Terms. You agree not to use Service:
        <br>

        0.1. In any way that violates any applicable national or international law or regulation.<br>
        
        0.2. For the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by exposing them to inappropriate content or otherwise.<br>
        
        0.3. To transmit, or procure the sending of, any advertising or promotional material, including any “junk mail”, “chain letter,” “spam,” or any other similar solicitation.<br>
        
        0.4. To impersonate or attempt to impersonate Company, a Company employee, another user, or any other person or entity.<br>
        
        0.5. In any way that infringes upon the rights of others, or in any way is illegal, threatening, fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.<br>
        
        0.6. To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of Service, or which, as determined by us, may harm or offend Company or users of Service or expose them to liability.<br>
        
        Additionally, you agree not to:<br>
        
        0.1. Use Service in any manner that could disable, overburden, damage, or impair Service or interfere with any other party’s use of Service, including their ability to engage in real time activities through Service.<br>
        
        0.2. Use any robot, spider, or other automatic device, process, or means to access Service for any purpose, including monitoring or copying any of the material on Service.<br>
        
        0.3. Use any manual process to monitor or copy any of the material on Service or for any other unauthorized purpose without our prior written consent.<br>
        
        0.4. Use any device, software, or routine that interferes with the proper working of Service.<br>
        
        0.5. Introduce any viruses, trojan horses, worms, logic bombs, or other material which is malicious or technologically harmful.<br>
        
        0.6. Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of Service, the server on which Service is stored, or any server, computer, or database connected to Service.<br>
        
        0.7. Attack Service via a denial-of-service attack or a distributed denial-of-service attack.<br>
        
        0.8. Take any action that may damage or falsify Company rating.<br>
        
        0.9. Otherwise attempt to interfere with the proper working of Service.</p>

      <h1 class="heading">6. Analytics</h1>
      <p class="explain">We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
  </div>

</div>