<div class="home-container" *ngIf='!loggedIn'>


      <div class="form-container__heading">
          <h1 class="heading heading__one">About Us</h1>
      </div>
  
      <div class="form-container">
          <h1 class="heading">Who We Are:</h1>
          <br>
          <p> <span class="names">Svetozar Martinov</span>  & <span class="names"> Georgi Priporski</span></p>
          <br>
          <br>
          <br>
          <h1 class="heading">Our Mission:</h1>
          <p class="explain">We are two young (and not so young) future developers. This is our first serious attempt at creating something very nice and working from scratch as a team.</p>
          <p class="explain">And waht a team we are!</p>
          <p class="explain"></p>
      </div>

</div>