<div class="post-box-add" *ngIf="isCreateBoxOpen">
    <div class="post-box__header">
        <app-user-box-big [username]='user.username'></app-user-box-big>
        <input class="title-input" type="text" placeholder="Title" [(ngModel)]="postTitle">
    </div>

    <div class="post-box__body">
        <input class="content-input" type="text" placeholder="Your post" [(ngModel)]="postContent">
    </div>

    <div class="edit-mode-options">
        <h3 class="heading heading__three save-post" (click)="onCreatePost()">Save</h3>
        <span class="slash">|</span>
        <h3 class="heading heading__three cancel-post" (click)="hideCreateBox()">Cancel</h3>
    </div>
</div>
