.post-box-add {
    border-radius: 2rem;
    padding: 1.4rem;
    border: 1px solid var(--color-gray-line);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 3rem; 
    margin-bottom: 3rem;
}

.post-box__header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: start;
    gap: 5rem; 
}

.post-box__body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
}

.edit-mode-options {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 1rem;
}
.save-post {
    cursor: pointer;
    font-weight: 400;
    color: var(--color-btns);
}
.cancel-post {
    cursor: pointer;
    font-weight: 400;
    color: var(--color-btns);
}
.slash {
    font-weight: 400;
    color: var(--color-btns);
    font-size: 2rem;
}

.title-input {
    display: inline-block;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: .2rem;
    color: inherit;
    font-size: 3rem; 
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--color-btns);
    padding: .1rem .5rem;
    border-radius: .5rem;
}
.title-input:focus {
    outline: none;
}

.content-input {
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-weight: 400;
    background-color: transparent;
    font-size: 2.2rem;
    color: inherit;
    letter-spacing: .2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border: 1px solid var(--color-btns);
    padding: .5rem;
    border-radius: .5rem;
}
.content-input:focus {
    outline: none;
}