.nav {
  //background-color: red;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 40rem;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;

  &__left {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
    height: 5rem;
    width: 100%;
  }
  &__right {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    height: 5rem;
    width: 100%;
  }

}