.people-box {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;

    &__id {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        &-img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin-right: 2rem;
        }
    }

    &__text {
        width: 100%;
        margin: 1rem auto;
    }
}