.registration-form {

    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    justify-content: center;

    &__heading {
        display: flex;
        justify-content: center;
        margin-bottom: 7rem;
    }
    &__form-box {
        
    }
}