.hero-side {
    display: grid;
    grid-template-rows: max-content 40rem max-content 30rem;
    gap: 3rem;
    padding: 2rem 2rem 2rem 3rem;
    margin-bottom: 5rem;
}
.hero-side-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}
.hero-side__posts-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden; 
    border-top: 1px solid rgba(87, 88, 187, 0.2);
    border-bottom: 1px solid rgba(87, 88, 187, 0.2);
}
.hero-side__friends-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid rgba(87, 88, 187, 0.2);
    border-bottom: 1px solid rgba(87, 88, 187, 0.2);
}

.item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}