<div class="hero-side">

    <div class="hero-side__heading">
      <h2 class="heading heading__two">Latest Posts</h2>
    </div>

    <div class="hero-side__posts-box">
      
      <div class="item-box">
        <app-post-box-small *ngFor='let post of posts | slice:0:7' [post]='post'></app-post-box-small>
      </div>   
            
    </div>

    <div class="hero-side__heading">
      <h2 class="heading heading__two">Friends new posts</h2>
    </div>

    <div class="hero-side__friends-box">

      <div class="item-box">
        <app-post-box-small *ngFor='let post of posts | slice:0:7' [post]='post'></app-post-box-small>
      </div>

    </div>

  </div>
