<div class="hero__friends">

  <div class="friends-heading">
      <h2 class="heading heading__two">Friends</h2>
  </div>

  <div class="search-bar">

    <input type="text" class="search-bar__input" placeholder="Search User" [(ngModel)]="username">

    <button type="submit" class="btns btns__search" (click)="searchUser()">
        <svg class="btns__search-icon">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-search"></use>
        </svg>
    </button>

  </div>

  <svg class="icon-close-search" *ngIf="isSearchedResultOpen" (click)="closeSearchedResultBox()">
    <use xlink:href="../../../../assets/img/sprite.svg#icon-cross"></use>
  </svg>

  <div class="friends__users-body">
    <app-friend-box *ngFor="let friend of friends" [friend]="friend" (eventFollowUser)="followUser($event)"></app-friend-box>
  </div>

</div>

