.hero__friends {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 6rem;
  overflow-x: hidden;
  overflow-y: scroll; 
}

.friends-heading {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  gap: 5rem; 
  border-bottom: 1px solid rgba(87, 88, 187, 0.5); 
  padding: 0 1rem 1rem 1rem;
}

.friends__users {
  display: grid;
  gap: 3rem; 
}
.friends__users-body {
  display: grid;
  gap: 2rem; 
}
.friends__heading {
  font-size: 2.5rem;
  color: var(--color-yellow-dark);
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0;
  width: 50%; 
  margin-bottom: 2rem;
}
.search-bar__input {
  width: 100%;
  height: 5rem;
  border: none;
  border-bottom: 0.5px solid #575fcf;
  background-color: transparent;
  font-size: 2.3rem;
  font-family: inherit;
  letter-spacing: .17rem;
  font-weight: 400;
  color: var(--color-gray-darken);
  padding: 0 2rem;
  cursor: pointer; 
}
.search-bar__input:focus {
  outline: none; 
}

.btns__search {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  background-color: inherit;
  border-style: none;
  margin-top: .3rem; 
}
.btns__search-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-blue-dark); 
}
.btns__search-icon:hover {
  fill: var(--color-red-dark); 
}

.icon-close-search {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-red-dark);
  border-radius: 50%;
  fill: var(--color-red-dark);
  justify-self: end;
  cursor: pointer;
}
