<div class="hero__admin">

  <div class="admin-heading">
      <h2 class="heading heading__two">Admin Control</h2>
  
      <div class="admin-options">
        <svg class="admin-options__icon" routerLink="/session/admin-control/users">
          <use xlink:href="../../../../assets/img/sprite.svg#icon-people_alt"></use>
        </svg>
        <svg class="admin-options__icon" routerLink='/session/admin-control/posts'>
          <use xlink:href="../../../../assets/img/sprite.svg#icon-file-text2"></use>
        </svg>
        <svg class="admin-options__icon" routerLink="/session/admin-control/comments">
          <use xlink:href="../../../../assets/img/sprite.svg#icon-bubbles4"></use>
        </svg>
      </div>
  </div>
  
</div>

<div class="admin-control__posts">

  <h3 class="heading heading__three admin-control__heading">Posts</h3>

  <div class="admin-control__posts-body">

    <app-posts-section></app-posts-section>
    
  </div>

</div>
