.hero__admin {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    gap: 6rem;
    overflow-x: hidden;
    overflow-y: scroll; 
}

.admin-heading {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    gap: 5rem; 
    border-bottom: 1px solid rgba(87, 88, 187, 0.5); 
    padding: 0 1rem 1rem 1rem;
}

.admin-options {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 4rem;
}
.admin-options__icon {
    width: 2.7rem;
    height: 2.7rem;
    fill: var(--color-blue-dark);
    cursor: pointer; 
}
.admin-options__icon:focus {
    outline: none;
}

.admin-control__posts{
    display: grid;
    gap: 3rem; 
}
.admin-control__posts-body {
    display: grid;
    gap: 2rem;
    padding-bottom: 5rem; 
}
.admin-control__heading {
    font-size: 2.5rem;
    color: var(--color-yellow-dark);
}

.btns__search {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: inherit;
    border-style: none;
    margin-top: .5rem; 
}
.btns__search-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-blue-dark); 
}
.btns__search-icon:hover {
    fill: var(--color-gray-dark); 
}
.btns__search-icon--friends:hover {
    fill: var(--color-gray-dark); 
}
