.hero__preferences {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    gap: 6rem;
    overflow-x: hidden;
    overflow-y: scroll; 
}
.hero__preferences-body {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    gap: 2rem;
    justify-content: start;
    align-items: flex-start;
    width: 50%;
}
.info-box {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    
    border: 1px solid var(--color-gray-line);
    border-radius: 1rem;
    padding: 1rem;
}
.info-box--img {
    justify-items: center;
}
.heading__four--pref {
    color: var(--color-yellow-dark);
}
.avatar {
    width: 6rem;
    height: 6rem;
}