<div class="hero__preferences">
    <div class="hero__preferences-heading">
        <h2 class="heading heading__two">Preferences</h2>
    </div>

    <div class="hero__preferences-body">
        <div class="info-box info-box--img">
            <h3 class="heading heading__three">Profile Picture</h3>
            <img class="avatar" src="{{ this.user.avatar ? this.userAvatarSrcPrefix + user.avatar : this.defaultUserAvatarImagePath }}">

            <button class="btns btns__nav" type="button" (click)="fileInput.click()">Choose File</button>
            <input hidden #fileInput (change)="onFileSelected(fileInput.files[0])" type="file">

            <h4 class="heading heading__four heading__four--pref">{{user.avatar}}</h4>
        </div>
        <div class="info-box">
            <h3 class="heading heading__three">Username</h3>
            <h4 class="heading heading__four heading__four--pref">{{user.username}}</h4>
        </div>
        <div class="info-box">
            <h3 class="heading heading__three">Email</h3>
            <h4 class="heading heading__four heading__four--pref">{{user.email}}</h4>
        </div>
        <div class="info-box">
            <h3 class="heading heading__three">Forum roles</h3>
            <h4 class="heading heading__four heading__four--pref">{{(user.roles.join(', '))}}</h4>
        </div>
    </div>
</div>
