.users-container {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--color-gray-line);
    padding: 1.5rem;
}
.users-container__options {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    align-items: center;
    gap: 1.5rem; 
}
.users-container__options-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    fill: var(--color-gray-dark); 
}
.users-container__options-icon--remove {
    fill: var(--color-red-dark); 
}

.user-container__heading {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 3rem;
}

.content-container {
    display: grid;
    gap: 1rem;
}

.content-box {
    border-radius: 1rem;
    border: 1px solid var(--color-gray-line);
    padding: 1.5rem;
}

.info-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}
.user-activity-box {
    display: grid;
    gap: 1rem;
}
.heading__four--admin-info {
    color: var(--color-yellow-dark);
}