<div class="users-container">

    <div class="user-container__heading">
      <app-user-box-small [username]='user.username'></app-user-box-small>
    
      <div class="users-container__options">
          <svg class="users-container__options-icon" (click)="onInfo()">
              <use xlink:href="../../../../assets/img/sprite.svg#icon-info1"></use>
          </svg>
          <svg class="users-container__options-icon" (click)="onActivity(user)">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-stats-bars"></use>
          </svg>
          <svg class="users-container__options-icon" (click)="onFollow(user)">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-user-plus"></use>
          </svg>
          <svg class="users-container__options-icon">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-user-minus"></use>
          </svg>
      </div>
    </div>
    
    <div class="content-container">

      <div class="content-box user-info-box" *ngIf="isActiveInfo">
        <div class="info-box">
          <h4 class="heading heading__four">Username:</h4>
          <h4 class="heading heading__four heading__four--admin-info">{{user.username}}</h4>
        </div>
        <div class="info-box">
          <h4 class="heading heading__four">Email:</h4>
          <h4 class="heading heading__four heading__four--admin-info">{{user.email}}</h4>
        </div>
      </div>

      <div class="content-box user-activity-box" *ngIf="isActiveActivity">
        <app-activity-item *ngFor="let activityItem of activity" [activityItem]="activityItem"></app-activity-item>
      </div>

    </div>
</div>

