.header-box {
    display: grid;
    grid-template-columns: max-content 70%;
    gap: 5rem;
    padding: 2rem 2rem 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%; 
}