<div class="all-comments-container">
    <app-comment-box *ngFor='let comment of allComments' [comment]='comment' (eventLikeComment)="likeComment($event)" (eventDeleteComment)="deleteComment($event)" (eventUpdateComment)="updateComment($event)"></app-comment-box>
</div>
