* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px  10px/16px = 62.5%
    box-sizing: border-box;
    scroll-behavior: smooth;

    //scrollbar for Firefox
    scrollbar-color: var(--color-scrollbar) transparent;
    scrollbar-width: thin;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    color: var(--color-gray-darken);
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
}
::-webkit-scrollbar {
    width: .2rem;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
}
::selection {
    background-color: var(--color-blue-dark);
    color: #fff;
}