/* :root {
  --color-gray-light: #f5f7fa;
  --color-gray-dark: #1e272e;
  --color-gray-nav: #171e24;
  --color-gray-darken: #232526;
  --color-gray-line: #d3dce9;
  --color-gray-nav-light-theme: #242f39;
  --color-yellow-light: #ffd32a;
  --color-yellow-medium: #ffcc08;
  --color-yellow-dark: #d4a800;
  --color-red-light: #ff2f23;
  --color-red-dark: #e55039;
  --color-blue: #20b2aa;
  --color-blue-light: #0fbcf9;
  --color-blue-dark: #575fcf;
  --color-btns: lightseagreen;
  --shadow-ligth: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  --shadow-btn: 0 .5rem .5rem rgba(0, 0, 0, 0.3);
  --shadow-all-sides: 0 .1rem 1rem 0 rgba(0,0,0,0.5); }

@keyframes moveDownStop {
  0% {
    opacity: 0;
    transform: translateY(-30rem); }
  45% {
    opacity: 0; }
  55% {
    opacity: 0.3; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-scrollbar) transparent;
  scrollbar-width: thin; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  color: var(--color-gray-darken);
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem; }

::-webkit-scrollbar {
  width: .2rem;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar); }

::selection {
  background-color: var(--color-blue-dark);
  color: #fff; } */

/* .heading {
  display: block;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: .2rem;
  color: inherit; }
  .heading__one {
    font-size: 5rem; }
  .heading__two {
    font-size: 3.5rem; }
  .heading__three {
    font-size: 2rem; }
  .heading__four {
    font-size: 1.4rem;
    text-transform: none; } */

/* .btns, .btns:link, .btns:visited {
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .12rem;
  cursor: pointer;
  border: none; }

.btns:focus {
  outline: none; } */

.btns__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 100%;
  padding: 0 2rem;
  font-size: 2.3rem;
  border-bottom: .5px solid transparent;
  transition: all .1s; }
  .btns__nav--target {
    border-radius: 2rem;
    border: 0.5px solid var(--color-gray-darken); }
    .btns__nav--target:not(:last-child) {
      margin-right: 1rem; }
    .btns__nav--target:hover {
      border: 0.5px solid var(--color-gray-light); }
    .btns__nav--target:active {
      border: 0.5px solid var(--color-blue-dark); }
  .btns__nav:hover {
    border-bottom: 0.5px solid var(--color-gray-light); }
  .btns__nav:active {
    border-bottom: 0.5px solid var(--color-blue-dark); }
  .btns__nav:focus {
    outline: none; }

/* .btns__submit {
  font-size: 3.6rem;
  border: none;
  padding: 1.8rem;
  border-radius: 2rem;
  background-image: url(../img/1.jpg);
  background-position: bottom right;
  color: #fff;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.7);
  transition: all .2s;
  backface-visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .btns__submit:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.6); }
  .btns__submit:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.2); } */

/* .form {
  width: 100%;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content max-content;
  border-radius: 2rem;
  padding: 3rem; }
  .form__inputs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    margin-bottom: 2rem; }
  .form__btn {
    display: flex;
    justify-content: center;
    align-items: center; }
  .form__input {
    width: 100%;
    height: 5rem;
    font-family: inherit;
    font-weight: 300;
    background-color: transparent;
    font-size: 2.5rem;
    color: inherit;
    cursor: pointer;
    border: none;
    border-bottom: 0.1rem solid rgba(30, 39, 46, 0.4);
    padding-left: .5rem; }
    .form__input:not(:last-child) {
      margin-bottom: 3rem; }
    .form__input:focus {
      outline: none; } */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -.5rem; }
  .logo__icon {
    height: 6rem; }

.nav {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 40rem;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%; }
  .nav__left {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
    height: 5rem;
    width: 100%; }
  .nav__right {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    height: 5rem;
    width: 100%; }

.people-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem; }
  .people-box__id {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; }
    .people-box__id-img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 2rem; }
  .people-box__text {
    width: 100%;
    margin: 1rem auto; }

/* .registration-form {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  justify-content: center; }
  .registration-form__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 7rem; } */

/* .container {
  position: relative;
  background-color: rgba(245, 247, 250, 0.6);
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 6rem;
  border-radius: 4rem;
  overflow: hidden;
  box-shadow: var(--shadow-all-sides); }
  .container__header-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 9rem;
    padding: 2rem 2rem 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%; }
  .container__body-box {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;
    height: auto;
    width: 100%; } */

/* .hero-side {
  display: grid;
  grid-template-rows: 20% 1fr;
  gap: 4rem;
  padding: 2rem 2rem 2rem 3rem;
  margin-bottom: 5rem; }
  .hero-side__heading {
    display: flex;
    justify-content: center;
    align-items: center; }
  .hero-side__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; } */

/* .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem 5rem 0 5rem;
  box-shadow: var(--shadow-all-sides);
  margin-right: 2rem;
  background-color: rgba(245, 247, 250, 0.8);
  overflow-x: hidden;
  overflow-y: scroll; } */

.menu {
  background-color: var(--color-red-dark); }
  .menu__checkbox {
    display: none; }
  .menu__btn--open {
    display: block; }
  .menu__btn--close {
    display: none; }
  .menu__icon {
    position: absolute;
    top: 2rem;
    left: 3.5rem;
    height: 3rem;
    width: 3rem;
    fill: var(--color-gray-darken);
    z-index: 2000;
    cursor: pointer; }
  .menu__bgr {
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    height: 4rem;
    width: 4rem;
    z-index: 1000;
    border-radius: .5rem;
    background-color: var(--color-gray-light);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    transition: all .5s; }
  .menu__nav {
    position: absolute;
    top: 1rem;
    left: 5rem;
    height: 36rem;
    width: 5rem;
    z-index: 1500;
    display: none;
    padding: 0 5rem 0 2rem;
    font-family: inherit;
    font-weight: inherit;
    color: var(--color-gray-darken); }
  .menu__checkbox:checked ~ .menu__bgr {
    width: 20%;
    border-radius: .5rem;
    height: 36rem; }
  .menu__checkbox:checked ~ .menu__nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    animation-name: moveDownStop;
    animation-duration: .6s; }
  .menu__checkbox:checked ~ .menu__btn--open {
    display: none; }
  .menu__checkbox:checked ~ .menu__btn--close {
    display: block; }
