<div class="activity-item-box">
    <h4 class="heading heading__four">{{activityItem.entity}}</h4>
    <h4 class="heading heading__four heading__four--date">{{ activityItem.createdOn | date: 'fullDate' }}  {{ activityItem.createdOn | date: 'shortTime' }}</h4> 
  </div>
