<div class="user-box__info">
    <!-- <img src="../../../../assets/img/photoM.jpg" alt="photo" class="user-box__info-img"> -->

    <div class="user-avatar">
        <h1 class="heading heading__one heading__one--avatar">{{user.username.charAt(0).toUpperCase()}}</h1>
    </div>

    <h2 class="heading heading__two-user">{{ user.username }}</h2>
</div>
