.user-box__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
}

.user-box__info-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 0 .1rem .6rem 0 rgba(0,0,0,0.7);
    margin-right: 2rem;
    background-color: var(--color-grey-line);
    background-image: url(../../../../assets/img/1.jpg);
    background-size: cover;
}

.heading__one--avatar {
    color: var(--color-gray-nav);
    margin-top: -.5rem;
    margin-right: -.3rem;
}