<div class="hero__posts">
    <app-add-post (eventCreate)="createPost($event)"></app-add-post>

    <div class="search-bar">

        <input type="text" class="search-bar__input" placeholder="Search Post" [(ngModel)]="postTitle">
    
        <button type="submit" class="btns btns__search" (click)="searchPost()">
            <svg class="btns__search-icon">
                <use xlink:href="../../../../assets/img/sprite.svg#icon-search"></use>
            </svg>
        </button>
    
    </div>
    
    <svg class="icon-close-search" *ngIf="isSearchedResultOpen" (click)="closeSearchedResultBox()">
        <use xlink:href="../../../../assets/img/sprite.svg#icon-cross"></use>
    </svg>

    <app-post-box-big *ngFor='let post of posts' [post]='post' (eventDelete)="deletePost($event)" (eventLike)="likePost($event)" (eventLockUnlock)="lockUnlockPost($event)" (eventUpdate)="updatePost($event)"></app-post-box-big>
</div>
