<div class="user-box__big">
    <!-- <img src="../../../../assets/img/photoM.jpg" alt="photo men" class="user-box__big-img"> -->
    
    <div class="user-avatar">
        <h2 class="heading heading__two heading__two--avatar">{{username.charAt(0).toUpperCase()}}</h2>
    </div>

    <h3 class="heading heading__three">{{ username }}</h3>
</div>
