.user-box__big {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
}

.user-box__big-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.3rem; 
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0 .1rem .6rem 0 rgba(0,0,0,0.7);
    margin-right: 1.5rem;
    background-color: var(--color-grey-line);
}

.heading__two--avatar {
    color: var(--color-gray-nav);
    margin-top: -.35rem;
    margin-right: -.2rem;
}