@keyframes moveDownStop {
    0% {
        opacity: 0;
        transform: translateY(-30rem);
    }
    45% {
        opacity: 0;
    }
    55% {
        opacity: 0.3;
    }     
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
