.heading {
    display: block;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: .2rem;
    color: inherit;

    &__one {
        font-size: 5rem;
    }
    &__two {
        font-size: 3.5rem;
    }
    &__three {
        font-size: 2rem;
    }
    &__four {
        font-size: 1.4rem;
        text-transform: none;
    }
}