/* css global variables */
:root {
  --color-gray-light: #f5f7fa;
  --color-gray-dark: #1e272e;
  --color-gray-darken: #232526;
  --color-gray-nav: #405361;
  --color-gray-line: #d3dce9;
  
  --color-gray-nav-light-theme: #242f39;
  --color-yellow-light: #ffd32a;
  --color-yellow-medium: #ffcc08;
  --color-yellow-dark: #d4a800;
  --color-red-light: #ff2f23;
  --color-red-dark: #e55039;
  --color-blue: #20b2aa;
  --color-blue-medium: #0fbcf9;
  --color-blue-light: #8fa6c7;
  --color-blue-dark: #575fcf;
  --color-btns: lightseagreen;
  --shadow-ligth: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  --shadow-btn: 0 .5rem .5rem rgba(0, 0, 0, 0.3);
  --shadow-all-sides: 0 .1rem 1rem 0 rgba(0,0,0,0.5); 
}

/* animation */
@keyframes moveDownStop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  45% {
    opacity: 0; }
  55% {
    opacity: 0.3; }
  100% {
    opacity: 1;
    transform: translateY(0); } 
}
      
/* base settings */
* {
  margin: 0;
  padding: 0; 
}

*,
*::after,
*::before {
  box-sizing: inherit; 
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-scrollbar) transparent;
  scrollbar-width: thin; 
  height: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  color: var(--color-gray-darken);
  background-image: url(./assets/img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem; 
  height: auto;
}
      
::-webkit-scrollbar {
  width: .2rem;
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar); 
}

::selection {
  background-color: var(--color-blue-dark);
  color: #fff; 
}

/* Typography */
.heading {
  display: block;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: .2rem;
  color: inherit; 
}
.heading__one {
  font-size: 5rem; 
}
.heading__two {
  font-size: 3.5rem; 
}
.heading__two-user {
  font-size: 3rem; 
}
.heading__three {
  font-size: 2rem; 
}
.heading__four {
  font-size: 2rem;
  text-transform: none;
  padding-bottom: .5rem; 
}
.heading__five {
  font-size: 1.4rem;
  text-transform: none; 
  letter-spacing: .12rem;
}
.heading__comment {
  font-size: 1.5rem; 
}

/* global settings for all buttons */
.btns, .btns:link, .btns:visited {
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .12rem;
  cursor: pointer;
  border: none; 
}

.btns:focus {
  outline: none; 
}


