.container {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 2rem;
    background-color: rgba(245, 247, 250, 0.6);
    width: 90vw;
    min-height: 90vh;
    height: auto;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: var(--shadow-all-sides); 
}
.container__header-box {
    height: 100%;
    width: 100%; 
}
.container__body-box {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%; 
    height: 100%;
}

.hero {
    display: grid;
    grid-template-rows: max-content;
    max-height: 105rem;
    border-radius: 2rem 0 0 2rem;
    box-shadow: var(--shadow-all-sides);
    padding: 5rem;
    background-color: rgba(245, 247, 250, 0.8);
    overflow-x: hidden;
    overflow-y: scroll; 
}
