<div class="container">

    <div class="container__header-box">
        <app-header-user-page *ngIf="loggedIn"></app-header-user-page>

        <app-header *ngIf="!loggedIn"></app-header>
    </div>

    <div class="container__body-box">
        
        <app-sidebar-user-page *ngIf="loggedIn"></app-sidebar-user-page>

        <app-sidebar *ngIf="!loggedIn"></app-sidebar>

        <div class="hero">
            <router-outlet></router-outlet>
        </div>
   
    </div>

</div>