.container__header-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 9rem;
  padding: 2rem 2rem 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%; 
}
  
.nav {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 40rem;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%; 
}
.nav__left {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
  height: 5rem;
  width: 100%; 
}
.nav__right {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem;
  height: 5rem;
  width: 100%; 
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -.5rem; 
}
.logo__icon {
  height: 6rem; 
}

.btns__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 100%;
  padding: 0 2rem;
  font-size: 2.1rem;
  border-bottom: .5px solid transparent;
  transition: all .1s; 
}
.btns__nav--target {
  border-radius: .8rem;
  border: 0.5px solid #444749; 
}
.btns__nav--target:not(:last-child) {
  margin-right: 1rem; 
}
.btns__nav--target:hover {
  border: 0.5px solid var(--color-blue-dark); 
}
.btns__nav--target:active {
  border: 0.5px solid var(--color-blue-dark); 
}
.btns__nav:hover {
  border-bottom: 0.5px solid var(--color-blue-dark);  
}
.btns__nav:active {
  border-bottom: 0.5px solid var(--color-blue-dark);  
}
.btns__nav:focus {
  outline: none; 
}
