<div class="container__header-box">
  <div class="logo">
    <img src="../../../../assets/img/forum-logo.png" alt="logo" class="logo__icon">
  </div>
  
  <div class="nav">
    <div class="nav__left">
      <button type="button" class="btns btns__nav" routerLink="home/about">              
        About Us
      </button>
      <button type="button" class="btns btns__nav" routerLink="home/terms">              
        General Terms
      </button>
    </div>
    <div class="nav__right">
      <button type="button" class="btns btns__nav btns__nav--target" routerLink="home/register">              
        Register
      </button>
      <button type="button" class="btns btns__nav btns__nav--target" routerLink="home/login">              
        Login
      </button>
    </div>
  </div>
</div>
