.hero-side {
    display: grid;
    grid-template-rows: 20% 1fr;
    gap: 2.5rem;
    padding: 2rem 2rem 2rem 3rem;
    margin-bottom: 4rem; 
}
.hero-side__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}   
.hero-side__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.people-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem; 
}
.people-box__id {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
}
.people-box__id-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.7rem; 
}
.people-box__text {
    width: 100%;
    margin: .8rem auto; 
}
.heading__four-home {
    font-size: 1.8rem;
    letter-spacing: .1rem;
}