<div class="hero-side">
  <div class="hero-side__heading">
    <h2 class="heading heading__two">Our users love Eleven forum</h2>
  </div>

  <div class="hero-side__body">

    <div class="people-box">
      <div class="people-box__id">
          <img src="../../../../assets/img/photoM.jpg" alt="photo of a woman" class="people-box__id-img">
          <h3 class="heading heading__three">Nikola Petkov</h3>
      </div>

      <div class="people-box__text">
        <h4 class="heading heading__four heading__four-home">
            "Amazing forum. Found everything I need in one place. Great community and staff."
        </h4>
      </div>
    </div>

    <div class="people-box">
      <div class="people-box__id">
          <img src="../../../../assets/img/photoM2.jpg" alt="photo of a woman" class="people-box__id-img">
          <h3 class="heading heading__three">Denis Belyata</h3>
      </div>

      <div class="people-box__text">
        <h4 class="heading heading__four heading__four-home">
            "For the first time in my life, I've found everything i need in one forum!"
        </h4>
      </div>
    </div>
    <div class="people-box">
      <div class="people-box__id">
          <img src="../../../../assets/img/1.jpg" alt="photo of a woman" class="people-box__id-img">
          <h3 class="heading heading__three">Maria Ivanova</h3>
      </div>

      <div class="people-box__text">
        <h4 class="heading heading__four heading__four-home">
            "A perfect place to share your ideas with cool people."
        </h4>
      </div>
    </div>
    <div class="people-box">
      <div class="people-box__id">
          <img src="../../../../assets/img/photoW1.jpg" alt="photo of a woman" class="people-box__id-img">
          <h3 class="heading heading__three">Irena Nikolova</h3>
      </div>

      <div class="people-box__text">
        <h4 class="heading heading__four heading__four-home">
            "I strongly recommend this forum as the perfect place for creative people!"
        </h4>
      </div>
    </div>
    <div class="people-box">
      <div class="people-box__id">
          <img src="../../../../assets/img/chuck.jpg" alt="photo of a woman" class="people-box__id-img">
          <h3 class="heading heading__three">Chuck Norris</h3>
      </div>

      <div class="people-box__text">
        <h4 class="heading heading__four heading__four-home">
          “I can kill two stones with one bird. I can't kill this strong community tho!”
        </h4>
      </div>
    </div>

  </div>

</div>
