.container {
    position: relative;

    background-color: rgba(#f5f7fa, .6);
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 6rem;

    border-radius: 4rem;
    overflow: hidden;

    box-shadow: var(--shadow-all-sides);

    &__header-box {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 9rem;
        padding: 2rem 2rem 1rem 2rem;

        align-items: center;
        justify-content: space-between;

        height: 100%;
        width: 100%;
    }

    &__body-box {
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 2rem;

        height: auto;
        width: 100%;
    }
    
}