.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5rem 5rem 0 5rem;

    box-shadow: var(--shadow-all-sides);
    margin-right: 2rem;

    background-color: rgba(#f5f7fa, .8);

    overflow-x: hidden;
    overflow-y: scroll;
}