.hero-side {
    //background-color: red;

    display: grid;
    grid-template-rows: 20% 1fr;
    gap: 4rem;
    
    padding: 2rem 2rem 2rem 3rem;
    margin-bottom: 5rem;
    

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
