<div class="users-container">

    <div class="user-container__heading">
      <app-user-box-small [username]='user.username'></app-user-box-small>
    
      <div class="users-container__options">
          <svg class="users-container__options-icon" (click)="onInfo()">
              <use xlink:href="../../../../assets/img/sprite.svg#icon-info1"></use>
          </svg>
          <svg class="users-container__options-icon" (click)="onActivity(user)">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-stats-bars"></use>
          </svg>
          <svg class="users-container__options-icon" (click)="showRolesBox()">
              <use xlink:href="../../../../assets/img/sprite.svg#icon-user-tie"></use>
          </svg>
          <svg class="users-container__options-icon"(click)="showBanstatusBox()">
              <use xlink:href="../../../../assets/img/sprite.svg#icon-user-minus"></use>
          </svg>
          <svg class="users-container__options-icon users-container__options-icon--remove" (click)="showDeleteBox()">
              <use xlink:href="../../../../assets/img/sprite.svg#icon-remove-user"></use>
          </svg>
      </div>
    </div>
    
    <div class="content-container">

      <div class="content-box user-info-box" *ngIf="isActiveInfo">
        <div class="info-box">
          <h4 class="heading heading__four">Username:</h4>
          <h4 class="heading heading__four heading__four--admin-info">{{user.username}}</h4>
        </div>
        <div class="info-box">
          <h4 class="heading heading__four">Email:</h4>
          <h4 class="heading heading__four heading__four--admin-info">{{user.email}}</h4>
        </div>
        <div class="info-box" *ngIf="user.roles.includes('Admin')">
          <h4 class="heading heading__four">Forum roles:</h4>
          <h4 class="heading heading__four heading__four--admin-info">{{(user.roles.join(', '))}}</h4>
        </div>
      </div>

      <div class="content-box user-activity-box" *ngIf="isActiveActivity">
        <app-activity-item *ngFor="let activityItem of activity" [activityItem]="activityItem"></app-activity-item>
      </div>

      <div class="content-box user-roles-box" *ngIf="isActiveRoles && !user.roles.includes('Admin')">
        <h4 class="heading heading__three">
          Make<span class="user-name"> {{user.username}} </span>an admin.
        </h4>
        <div class="edit-mode-options edit-mode-options--delete">
          <h3 class="heading heading__three ban-user" (click)="onAdminRole(user)">OK</h3>
          <span class="slash">|</span>
          <h3 class="heading heading__three permit-user" (click)="showRolesBox()">CANCEL</h3>
        </div>
      </div>

      <div class="content-box user-roles-box" *ngIf="isActiveRoles && user.roles.includes('Admin')">
        <h4 class="heading heading__three">
          Make<span class="user-name"> {{user.username}} </span>a basic.
        </h4>
        <div class="edit-mode-options edit-mode-options--delete">
          <h3 class="heading heading__three ban-user" (click)="onBasicRole(user)">OK</h3>
          <span class="slash">|</span>
          <h3 class="heading heading__three permit-user" (click)="showRolesBox()">CANCEL</h3>
        </div>
      </div>

      <div class="content-box user-ban-box" *ngIf="isActiveBanstatus">
        <div class="info-box">
          <h4 class="heading heading__four">Banstatus:</h4>
          <h4 class="heading heading__four heading__four--admin-info">{{user.banstatus.isBanned}}</h4>
        </div>
        <div class="info-box">
          <h4 class="heading heading__four">Description:</h4>
          <textarea class="content-input" placeholder="{{user.banstatus.description}}" [(ngModel)]="user.banstatus.description"></textarea>
        </div>

        <div class="edit-mode-options">
          <h3 class="heading heading__three ban-user" (click)="onBanUser(user)">Ban</h3>
          <span class="slash">|</span>
          <h3 class="heading heading__three permit-user" (click)="onPermitUser(user)">Permit</h3>
        </div>
      </div>

      <div class="content-box user-delete-box" *ngIf="isActiveDelete">
        <h4 class="heading heading__three">
          Are you sure you want to delete <span class="user-name">{{user.username}}</span> ?
        </h4>
        <div class="edit-mode-options edit-mode-options--delete">
          <h3 class="heading heading__three ban-user" (click)="onDelete(user)">YES</h3>
          <span class="slash">|</span>
          <h3 class="heading heading__three permit-user" (click)="showDeleteBox()">CANCEL</h3>
        </div>
      </div>
    </div>
</div>
